HEW2023/.vs/HEW2023/v17/Browse.VC.db
HEW2023/.vs/HEW2023/v17/ipch/
HEW2023/HEW2023/x64/Debug/
HEW2023/x64/Debug/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
